<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="username" value="user.name"/>
    <!-- Configuration value is the password encoded in base64, I know not security by obscurity threw this in for sample -->
    <add key="password" value="cGFzc3dvcmQ="/>
    <add key="domain" value="domainname"/>
    <add key="emailAddress" value="user.name@company.com"/>
    <!-- Configuration value is the Full Name of the sender as it appears in the exchange server -->
    <add key="name" value="Full Name"/>
  </appSettings>
</configuration>